{% extends 'base.html.twig' %}

{% block title %}{% trans %}DetailDocument{% endtrans %}{% endblock %}

{% block body %}
    <div class="breadcrumbbar">
        <div class="row align-items-center">
            <div class="col-md-8 col-lg-8">
                <h4 class="page-title">{% trans %}DetailDocument{% endtrans %}</h4>
                <div class="breadcrumb-list">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a
                                    href="{{ path('app_document_index') }}">{% trans %}Home{% endtrans %}</a></li>
                        <li class="breadcrumb-item"><a
                                    href="{{ path('app_document_index') }}">{% trans %}ManageDocument{% endtrans %}</a>
                        </li>
                        <li class="breadcrumb-item active"><a href="#">{% trans %}DetailDocument{% endtrans %}</a></li>
                    </ol>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="widgetbar">
                </div>
            </div>
        </div>
    </div>
    <div class="contentbar">
        <div class="row">
            <div class="col-lg-12">
                <div class="card m-b-30">
                    <div class="card-header">
                        <h5 class="card-title">
                            <a href="{{ path('app_document_index') }}" class="btn btn-info"><i class="ti-back-left mr-2"></i>{% trans %}GoBack{% endtrans %}</a>
                            {% if is_granted('ROLE_ADMIN') or document.user.id == app.user.id %}
                                <a class="btn btn-warning" href="{{ path('app_document_edit', {'id': document.id}) }}"> <i class="ti-pencil mr-2"></i> {% trans %}Update{% endtrans %}</a>
                            {% endif %}
                        </h5>
                    </div>
                    <div class="card-body">

                        <table class="table table-secondary">
                            <tbody>
                            <tr>
                                <th>{% trans %}Titre{% endtrans %}</th>
                                <td>{{ document.titre }}</td>
                            </tr>
                            <tr>
                                <th>{% trans %}Taille{% endtrans %}</th>
                                <td>{{ document.taille }}</td>
                            </tr>
                            <tr>
                                <th>{% trans %}Extension{% endtrans %}</th>
                                <td>{{ document.extension }}</td>
                            </tr>
                            <tr>
                                <th>{% trans %}CreatedAt{% endtrans %}</th>
                                <td>{{ document.createdAt ? document.createdAt|format_datetime() : '' }}</td>
                            </tr>
                            <tr>
                                <th>{% trans %}UpdatedAt{% endtrans %}</th>
                                <td>{{ document.updatedAt ? document.updatedAt|format_datetime() : '' }}</td>
                            </tr>
                            <tr>
                                <th>{% trans %}Télécharger{% endtrans %}</th>
                                <td><a class="btn btn-success btn-sm" href="{{ vich_uploader_asset(document) }}"><i class="ti-arrow-down mr-2"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
