{% extends 'base.html.twig' %}

{% block title %}{% trans %}UpdateUser{% endtrans %}{% endblock %}

{% block body %}
<div class="breadcrumbbar">
    <div class="row align-items-center">
        <div class="col-md-8 col-lg-8">
            <h4 class="page-title">{% trans %}UpdateUser{% endtrans %}</h4>
            <div class="breadcrumb-list">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('app_document_index') }}">{% trans %}Home{% endtrans %}</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('app_user_index') }}">{% trans %}ManageUser{% endtrans %}</a></li>
                    <li class="breadcrumb-item active"><a href="#">{% trans %}UpdateUser{% endtrans %}</a></li>
                </ol>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="widgetbar">
            </div>
        </div>
    </div>
</div>
<div class="contentbar">
    <div class="row">
        <div class="col-lg-12">
            <div class="card m-b-30">
                <div class="card-header">
                    <h5 class="card-title"><a href="{{ path('app_user_index') }}" class="btn btn-info"><i class="ti-back-left mr-2"></i>{% trans %}GoBack{% endtrans %}</a></h5>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_row(form.nom) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_row(form.prenom) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_row(form.email) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_row(form.password) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_row(form.phone) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_row(form.roles) }}
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-shadow btn-block btn-lg">{% trans %}Update{% endtrans %}</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
